<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alternet.Studio.Common" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Common.Python" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Common.Wpf" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Editor.Common.Wpf" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Editor.Wpf" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Common" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Debugger.Common" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Debugger.Python" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Debugger.UI.Wpf" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Integration.Wpf" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Scripter.Python" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax.Parsers.Advanced.Python" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax.Parsers.Lsp" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax.Parsers.Python" version="9.5.8" targetFramework="net48" />
  <package id="Alternet.Studio.Syntax.Parsers.TextMate" version="9.5.8" targetFramework="net48" />
  <package id="Markdig.Signed" version="0.31.0" targetFramework="net48" />
  <package id="MediatR" version="8.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.6.40" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.6.40" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Nerdbank.Streams" version="2.10.69" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc" version="0.19.9" targetFramework="net48" />
  <package id="OmniSharp.Extensions.JsonRpc.Generators" version="0.19.9" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageClient" version="0.19.9" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageProtocol" version="0.19.9" targetFramework="net48" />
  <package id="OmniSharp.Extensions.LanguageServer.Shared" version="0.19.9" targetFramework="net48" />
  <package id="pythonnet" version="3.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net48" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="TextMateSharp" version="1.0.56" targetFramework="net48" />
  <package id="TextMateSharp.Grammars" version="1.0.56" targetFramework="net48" />
</packages>